Enhancement:  Enable rDNS/PTR antispam option

Checking for PTR/rDNS is common place as an anti-spam check for receiving email.  There is already a PTR check in the code but it seems doesnt actually do anything to help against anti-spam scoring.

Could we add the option to the ANTI-SPAM screen (along with the SPF, Check HELO, MX Records etc) that provides a tailorable score on a PTR lookup fail.


+1

this is a huge disadvantage of hms. PTR check should help reduce many spam connections. (drop connection & stop processing , or add score)

This shouldn't be that hard to add, is it OK if I give it a try?

@martinknafve or @jimimaseye 
Just to make sure i am on the right track here...

Multiple PTR records can exist for a single IP? [[1]](https://serverfault.com/questions/618700/why-multiple-ptr-records-in-dns-is-not-recommended)
The PTR should math the HELO? [[2]](https://serverfault.com/questions/416367/with-regard-to-anti-spam-practices-what-exactly-does-a-typical-reverse-dns-chec)




Mmm, hotmail.com address fails PTR check? 
```
"DEBUG"	8656	"2022-01-16 00:46:03.730"	"SpamTestPTR HELO: EUR04-HE1-obe.outbound.protection.outlook.com"
"DEBUG"	8656	"2022-01-16 00:46:03.730"	"SpamTestPTR PTR: mail-oln040092073019.outbound.protection.outlook.com"
"DEBUG"	8656	"2022-01-16 00:46:03.730"	"Spam test: SpamTestPTR, Score: 0"
```



OK, time to go to bed i think... reading the mentioned topic [[2]](https://serverfault.com/questions/416367/with-regard-to-anti-spam-practices-what-exactly-does-a-typical-reverse-dns-chec) it really doesn't care about the HELO greeting used, right?

> That's not what it does. It doesn't really care what the hostname is in the HELO/EHLO. Even if this matched a PTR look up, that proves nothing because it could be spoofed (and if you lied in the HELO then you're probably going to lie in your PTR as well, so that would be a doubly useless check.).
> 
> What it does do a PTR look up on the client address. It then does an A (or AAAA) look up for the name returned in the PTR record. If this matches then you know that the owner of the DNS zone is also the owner of the IP.

So, assuming that is right that would mean, when:
`40.92.73.19 -> PTR record = mail-oln040092073019.outbound.protection.outlook.com`
matches:
`mail-oln040092073019.outbound.protection.outlook.com -> A-record = 40.92.73.19 `
SpamTestPTR is OK, not?


like this

```
"DEBUG"	7128	"2022-01-16 02:06:14.953"	"SpamTestPTR IP: 40.92.91.64"
"DEBUG"	7128	"2022-01-16 02:06:14.953"	"SpamTestPTR PTR: mail-am6eur05olkn2064.outbound.protection.outlook.com"
"DEBUG"	7128	"2022-01-16 02:06:15.156"	"SpamTestPTR IP lookup for: mail-am6eur05olkn2064.outbound.protection.outlook.com, returns: 40.92.91.64"
"DEBUG"	7128	"2022-01-16 02:06:15.156"	"Spam test: SpamTestPTR, Score: 0"
```



Still waiting for a non-matching or empty PTR....

```
"DEBUG"	4156	"2022-01-16 09:55:19.198"	"SpamTestPTR IP: 77.238.179.146"
"DEBUG"	4156	"2022-01-16 09:55:19.198"	"SpamTestPTR PTR: sonic304-21.consmr.mail.ir2.yahoo.com"
"DEBUG"	4156	"2022-01-16 09:55:19.214"	"SpamTestPTR IP lookup for: sonic304-21.consmr.mail.ir2.yahoo.com, returns: 77.238.179.146"
"DEBUG"	4156	"2022-01-16 09:55:19.214"	"Spam test: SpamTestPTR, Score: 0"
```

```
"DEBUG"	5080	"2022-01-16 09:56:40.872"	"SpamTestPTR IP: 209.85.128.50"
"DEBUG"	5080	"2022-01-16 09:56:40.872"	"SpamTestPTR PTR: mail-wm1-f50.google.com"
"DEBUG"	5080	"2022-01-16 09:56:40.872"	"SpamTestPTR IP lookup for: mail-wm1-f50.google.com, returns: 209.85.128.50"
"DEBUG"	5080	"2022-01-16 09:56:40.872"	"Spam test: SpamTestPTR, Score: 0"
```

```
"DEBUG"	2956	"2022-01-16 09:57:47.388"	"SpamTestPTR IP: 40.92.75.74"
"DEBUG"	2956	"2022-01-16 09:57:47.403"	"SpamTestPTR PTR: mail-oln040092075074.outbound.protection.outlook.com"
"DEBUG"	2956	"2022-01-16 09:57:47.622"	"SpamTestPTR IP lookup for: mail-oln040092075074.outbound.protection.outlook.com, returns: 40.92.75.74"
"DEBUG"	2956	"2022-01-16 09:57:47.622"	"Spam test: SpamTestPTR, Score: 0"
```

```
"DEBUG"	4156	"2022-01-16 09:58:55.592"	"SpamTestPTR IP: 40.92.74.33"
"DEBUG"	4156	"2022-01-16 09:58:55.592"	"SpamTestPTR PTR: mail-oln040092074033.outbound.protection.outlook.com"
"DEBUG"	4156	"2022-01-16 09:58:55.795"	"SpamTestPTR IP lookup for: mail-oln040092074033.outbound.protection.outlook.com, returns: 40.92.74.33"
"DEBUG"	4156	"2022-01-16 09:58:55.811"	"Spam test: SpamTestPTR, Score: 0"
```

```
"DEBUG"	848	"2022-01-16 10:00:21.244"	"SpamTestPTR IP: xxx.xxx.xxx.xxx"
"DEBUG"	848	"2022-01-16 10:00:21.244"	"SpamTestPTR PTR: mail.domain.nl"
"DEBUG"	848	"2022-01-16 10:00:21.260"	"SpamTestPTR IP lookup for: mail.domain.nl, returns: xxx.xxx.xxx.xxx"
"DEBUG"	848	"2022-01-16 10:00:21.260"	"Spam test: SpamTestPTR, Score: 0"
```


![CheckPTR](https://user-images.githubusercontent.com/13403301/149656345-5bfd8393-d74a-4130-8350-9b8f0542631c.png)


![CheckPTR](https://user-images.githubusercontent.com/13403301/149656396-d698c841-70a7-43ad-b846-8a660afce24b.png)


Your screenshot of proposed changes: That looks pretty much what I was thinking.

(Addressing earlier posts:) yes I believe it they are comparing the A record IP address of the name returned from what is advertised from the PTR lookup f the connecting address.  In any case, these matches should only be given 'slight' weight in the ultimate determination of spam and not solely relied on.

Presumably there was already some code given there was an existing output in DEBUG for PTR check - what was that working on (hopefully it wasnt what was being advertised at HELO)?

Have some issues trying to get some things clear, browsing through RFC's i can not find conclusive answers, example:

Can more than one PTR record exits for a IP?
Can a PTR record be a CNAME-record
Can more then one A records exits for a PTR IP address Lookup


From what i read and understand,  it is not forbidden to have multiple ptr records for one address but it's is thought to be unconventional at best and problematic at worst. 

Thinking about the logic of testing: 

Incoming -> get the ip address. 
Do ptr lookup -> get fqdn
Do A recited lookup of fqdn to g ert ip address.

What if the 1st ptr record is not the one required? Why would we need a second read? Answer: a second read would be required if we were planning to test the host name in EHLO (multiple domains hosted on the same server) but in this case we are not. But what if 'they' have multiple ptr records anyway (for systems that test against EHLO)? Well we need to exhaust them all to ensure one of them might be a match. 

So with this logic i guess we need to cycle through all ptr records available and checking each resultant A record  (although we hope there to be only one).

Makes sense? 

(Perhaps the forum folk might have more input to this question) 

@martinknafve 

What do you think about this as rDNS/PTR check?

```
   bool 
   SpamTestPTR::CheckPTR_(const IPAddress &ipaddress)
   {
      String _sIPAddress = ipaddress.ToString();

      std::vector<String> ptrresults;
      // do a PTR lookup
      DNSResolver dns_resolver;
      if (dns_resolver.GetPTRRecords(_sIPAddress, ptrresults) && ptrresults.size() > 0)
      {
         // Check multiple PTR records
         for (auto iter_ptr = ptrresults.begin(); iter_ptr < ptrresults.end(); iter_ptr++)
         {
            // Check that the hostnames given in PTR actually matches
            // the senders IP address.
            std::vector<String> ipresults;
            if (dns_resolver.GetIpAddresses((*iter_ptr), ipresults, true) && ipresults.size() > 0)
            {
               // Check that the IP address is one of these A or AAAA records.
               // Might be A or AAAA, so we loop through them and find a match
               for (auto iter_ip = ipresults.begin(); iter_ip < ipresults.end(); iter_ip++)
               {
                  if ((*iter_ip) == _sIPAddress)
                  {
                     return true;
                  }
               }
            }
         }
      }

      // DNS failure or no PTR record. Assume it's spam.
      return false;

   }
```

Or do you think it better to differentiate between DNS failures and empty responses (if possible)?

This might be better, eg: differentiate between DNS failures and empty responses

```
   bool 
   SpamTestPTR::CheckPTR_(const IPAddress &ipaddress)
   {
      String _sIPAddress = ipaddress.ToString();

      std::vector<String> ptrresults;
      // do a PTR lookup
      DNSResolver dns_resolver;
      if (!dns_resolver.GetPTRRecords(_sIPAddress, ptrresults))
      {
         // DNS failure. Assume it's not spam.
         return true;
      }
	  
      if (ptrresults.size() > 0)
      {
         // Check multiple PTR records
         for (auto iter_ptr = ptrresults.begin(); iter_ptr < ptrresults.end(); iter_ptr++)
         {
            // Check that the host name given in PTR actually matches
            // the senders IP address.
            std::vector<String> ipresults;
            if (dns_resolver.GetIpAddresses((*iter_ptr), ipresults, true) && ipresults.size() > 0)
            {
               // Check that the IP address is one of these A or AAAA records.
               // Might be A or AAAA, so we loop through them and find a match
               for (auto iter_ip = ipresults.begin(); iter_ip < ipresults.end(); iter_ip++)
               {
                  if ((*iter_ip) == _sIPAddress)
                  {
                     return true;
                  }
               }
            }
         }
      }

      // DNS failure or no PTR record. Assume it's spam.
      return false;

   }
```

@jimimaseye
The only other place in the code where PTR lookup is used is in SMTPMessageHeaderCreator.cpp and there only (a single) the first returned PTR is used to create the message Received header


@jimimaseye running it since sunday without any hit (only got his with external pop3 download, see above link)

Makes you wonder if it is worth it...

@jimimaseye 

I also have doubts if looping PTR records is the right thing to do, as this can cause a infinite loop
Or we should limit it, but where do we limit it? 10, 20, 30,... 100?
Beside that especially for mail systems there should be only a single PTR record (although read some guy putting in PTR records for every domain he hosts, and yet sens out mail using a single ip)

FYI, it all seems to function OK for IPv6 as well

```
"DEBUG"	4548	"2022-01-20 08:46:37.292"	"SpamTestPTR IP: 2a00:1450:4864:20::533"
"DEBUG"	4548	"2022-01-20 08:46:37.292"	"SpamTestPTR PTR: mail-ed1-x533.google.com"
"DEBUG"	4548	"2022-01-20 08:46:37.292"	"SpamTestPTR IP lookup for: mail-ed1-x533.google.com, returns: 2a00:1450:4864:20::533"
"DEBUG"	4548	"2022-01-20 08:46:37.292"	"Spam test: SpamTestPTR, Score: 0"
```





Just my 2 cents...

SMTP banner should contain PTR and if IP address resolve to PTR then fine, server is (most likely) valid.
If IP address do not resolve then server should be handled with care!

SMTP(helo) banner is really no requirement for a valid rDNS/PTR, one of the biggest, eg: outlook.com doesn't comply to that (see examples above) so would be really asking for trouble to score those

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Søren Raagaard Rathje ***@***.***>
Sent: Thursday, January 20, 2022 7:19:45 PM
To: hmailserver/hmailserver ***@***.***>
Cc: RvdH ***@***.***>; Comment ***@***.***>
Subject: Re: [hmailserver/hmailserver] Enhancement: Enable rDNS/PTR antispam option (#176)


Just my 2 cents...

SMTP banner should contain PTR and if IP address resolve to PTR then fine, server is (most likely) valid.
If IP address do not resolve then server should be handled with care!

—
Reply to this email directly, view it on GitHub<https://github.com/hmailserver/hmailserver/issues/176#issuecomment-1017790151>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ADGIJJKW4ILXLANX3NIFKJ3UXBG4DANCNFSM4CE73ROQ>.
Triage notifications on the go with GitHub Mobile for iOS<https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675> or Android<https://play.google.com/store/apps/details?id=com.github.android&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub>.
You are receiving this because you commented.Message ID: ***@***.***>


SMTP banner and HELO greeting are two different things.

Like...

SMTP Banner  : "SENT: 220 212.27.3.196.mobile.3.dk ESMTP"
EHLO Greeting: "RECEIVED: EHLO out-23.smtp.github.com"

But still it has no part of the rDNS//PTR check.
Same remark about outlook com/hotmail.com addresses still applies here, check your logs

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Søren Raagaard Rathje ***@***.***>
Sent: Thursday, January 20, 2022 7:51:33 PM
To: hmailserver/hmailserver ***@***.***>
Cc: RvdH ***@***.***>; Comment ***@***.***>
Subject: Re: [hmailserver/hmailserver] Enhancement: Enable rDNS/PTR antispam option (#176)


SMTP banner and HELO greeting are two different things.

Like...

SMTP Banner : "SENT: 220 212.27.3.196.mobile.3.dk ESMTP"
EHLO Greeting: "RECEIVED: EHLO out-23.smtp.github.com"

—
Reply to this email directly, view it on GitHub<https://github.com/hmailserver/hmailserver/issues/176#issuecomment-1017815688>, or unsubscribe<https://github.com/notifications/unsubscribe-auth/ADGIJJPCMZWS2GKH63AXKQLUXBKTLANCNFSM4CE73ROQ>.
Triage notifications on the go with GitHub Mobile for iOS<https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675> or Android<https://play.google.com/store/apps/details?id=com.github.android&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub>.
You are receiving this because you commented.Message ID: ***@***.***>


Just got home and thought about you remark a bit further....the SMTP banner is what the receiving server send, but how on earth you you want to combine that for validating the sending servers rDNS/PTR check, makes no sense

Perhaps I just completely missed what you are trying to do here...

It is pretty well explained [here](https://github.com/hmailserver/hmailserver/issues/176#issuecomment-1013783672)

I get some undesired results

```
"TCPIP"	8396	"2022-01-21 04:56:41.998"	"DNS - Query failure. Query: 64.228.44.171.in-addr.arpa, Type: 12, DnsQuery return value: 1460."
"TCPIP"	4520	"2022-01-21 05:02:55.039"	"DNS - Query failure. Query: 43.230.44.171.in-addr.arpa, Type: 12, DnsQuery return value: 1460."
```

Whereas 1460 stands for a DNS timeout as far as i have found, now i have to find who is to blame, my BIND9 instance or maybe it is not possible to differentiate between DNS failures (eg: this timeout) and empty responses

> It is pretty well explained [here](https://github.com/hmailserver/hmailserver/issues/176#issuecomment-1013783672)

Right... So what if there is no PTR. According to RFC 1912 section 2.1 ; "Every Internet-reachable host should have a name."

"SHOULD" ... Not "MUST" or "SHALL", "SHOULD" is only a recommendation!

This means your assumption of SPAM is only true in the explicit case where PTR <> IPAddress. Not claiming IP addresses with no PTR do not SPAM, only some may be falsly accused of SPAMMING due to policy or lazy admins.

You would have a valid point, **if not every other** (or almost every other) mailserver or spamfilter uses the PTR/rDNS check...if you had read the start of this topic, you would have known this is basic functionality in many products.
For ISP residential IP's for example it is quite common to have a static PTR, eg: not resolving to their own IP address but to the ISP which might be an advantage in fighting spam. https://datatracker.ietf.org/doc/html/rfc8501

And besides that, by adding this check we only add the ability to score such message, we don't accuse anyone 🤭

For mailservers a valid PTR is requirement, not a recommendation and common knowledge if you ask me, so not sure what you trying to prove or pull here? 

RFC8501 mention RFC1912 in the Introduction with "every Internet-reachable host should have a name" and then further states that "PTR records must point back to a valid A record" in section 1.2.

Where exactly, in which RFC, does it say that an IP address MUST have a valid PTR? All it says is IF it has one it MUST be valid!

Someone somewhere sometime made the assumption that a best pratice now is the rule. Don't put more into this PTR/A Record thing other than it is "best practice" to have one.

I'm not "trying to pull" anything here. But please, if you do not care about what other people think, go ahead and do your thing. I was only wondering if you had considered all scenarios ...

So basically what you claim is that every piece of software that uses rDNS/PTR is wrong?
Please go let your brain checked

My two bits
I think adding this as a spam check allows admins to set whatever value they choose in SPAM scoring

(Just like testing to see if a valid spf record exists - not REQUIRED to have, but some admins may choose to spam score based on accuracy of SPF check)

If rDNS/PTR is added as a spam check, admins can choose to use it or not

A good example is from our Vietnamese friends, seen quite frequently in SMTP logs, static.vnpt.vn
14.247.252.17 -> PTR -> static.vnpt.vn -> A -> 203.162.0.78 = No match, and likely to be a spammer

Another, Chinese 
171.44.229.23 -> PTR -> NXDOMAIN = No match, and likely to be a spammer




@OutbackMatt @RvdHout bri much exactly what and why I was thinking when raising the ticket. Obviously up to hms admin to choose what weight he gives (by setting a score). As i said, the DEBUG log already shows evidence of existing ptr check in place  (scoring Zero) - the question is about how accurate it is (what does it look at) and having the option to tailor the score. 

How accurate it is (what does it look at)? It matches or not... that is the accuracy 
Quite obviously for a rDNS/PTR check the way it works is to look if the incoming IP matches the IP reported by rDNS/PTR

There is a PR (thanks to @RvdHout) but it has not been merged and this ticket has been already closed.

Not the good steps.

Unsolved ticket must not be closed.

@Neustradamus Do you remember where I explained to you which issues are closed and why, and do you remember that I told you that I would ban you from this repo if you continued spamming your opinion of the opposite? 

@martinknafve: Thanks for your reply.

I think that there is always a problem to understand, my original and always same goal is to have a future for hMailServer, not an ending.

Now, it must be given completely to the community.

hMailServer is an opensource project, the future is here with or without you.

It is for this that I have requested you to change the status of the website/forum, your personal repo to an organization (that you have done in part), etc.

Your solution to close all tickets because you have stopped the development is not good, because people are lost, when a ticket is closed, it is solved and badly it is not.

Other people need to manage hMailServer (website/forum/github/etc.) to have the future, it is my goal.

Thanks in advance for your comprehension.

I am referring to your request to not close feature requests which has not been implemented. With your resoning, I should be able to add an issue to _all_ Github projects that they should make their application UI yellow and until they are yellow it should be considered a valid request which must not be closed. It is a bit mind-boggling crazy.

You need to understand that when I own the github repo I decide what issues should be closed. You can disagree and that's fine, but it's also irrelevant. If you disagree and keep repeating that, then that just becomes spam in my view. And spam will be removed (as will these commens in a while?. If you want to dreate your own ggithuP

People with entitlements like yours is a common reason people lose interest in open source development. You claim to have been actively following hMailServer for 2
>20 years and have not lifted a finger, and when you see something you disagree with you make a bunch of demands which you spam in random places. You should create your own projects, set them to private and spam those instead, it would be more valuable. 

FYI
This failed on my system (I've had quite a few failures which is great) = **score 1**

https://gwhois.org/103.250.212.7+dns
PRT = HELO

Also failed 'SpamTestHeloHost' **score 1**, and 'SpamTestDKIM' (error retrieving public key, no key for signature. Retrieval of public key failed) **Score =3** , but was whitelisted by my SpamAssassin **score -100**

**Total message score was -97** 

It seems that the first two scoring options were overwritten 
I do have this in my hmailserver.ini
```
DNSBLChecksAfterMailFrom=0
; DNSBLChecksAfterMailFrom now works. It was removed during the re-design of the spam protection but have been added again.
; By default, hMailServer runs DNS blacklists checks after SMTP/MAIL FROM.
; Some users prefer to have it running after the SMTP/RCPT TO command.
; In this case, set the value of this setting to 0.
```




Hey Matt,

I will look into it, but two you say 2 scoring option are over written?  1 + 3 - 100 = -96? 
Looks more like 1 score is overwritten, not? 
SpamAssassin score was exactly -100 or maybe might it be -100.5 so it is rounded to -101?

Not sure if it has anything to do with DNSBLChecksAfterMailFrom, to be honest i never used that option

I quickly browsed through my spambox account, I can't say anything is off there with scores

SpamTestPRT = 1
SpamTestHelo = 1
SpamTestDKIM = 3
SpamAssassin = -100 (Whitelist score of -100, then short circuit, so exactly -100)

So it fair to say SpamTestPRT = 1 and SpamTestHelo = 1 scores are not maintained when using DNSBLChecksAfterMailFrom?


I don't get it....are you only looking at the DEBUG log? You got 2 types of spam protections mechanisms, pre and post both reporting **their** total, but not **THE** total

**pre**

```
"DEBUG"	6756	"2022-02-02 06:37:35.410"	"Spam test: SpamTestDNSBlackLists, Score: 0"
"DEBUG"	6756	"2022-02-02 06:37:35.425"	"Spam test: SpamTestHeloHost, Score: 2"
"DEBUG"	6756	"2022-02-02 06:37:35.506"	"Spam test: SpamTestPTR, Score: 2"
"DEBUG"	6756	"2022-02-02 06:37:35.667"	"Spam test: SpamTestMXRecords, Score: 0"
"DEBUG"	6756	"2022-02-02 06:37:35.698"	"Spam test: SpamTestSPF, Score: 0"
"DEBUG"	6756	"2022-02-02 06:37:35.698"	"Total spam score: 4"
```

**post**

```
"DEBUG"	6540	"2022-02-02 06:37:36.714"	"Spam test: SpamTestSURBL, Score: 0"
"DEBUG"	6540	"2022-02-02 06:37:36.714"	"Spam test: SpamTestDKIM, Score: 0"
"DEBUG"	6540	"2022-02-02 06:37:38.004"	"Spam test: SpamTestSpamAssassin, Score: 5"
"DEBUG"	6540	"2022-02-02 06:37:38.004"	"Total spam score: 5"
```

What do the message headers of such message say?
```
X-hMailServer-Reason-1: No valid rDNS/PTR record found. - (Score: 2)
X-hMailServer-Reason-2: Tagged as Spam by SpamAssassin - (Score: 5)
X-hMailServer-Reason-3: The host name specified in HELO does not match IP address. - (Score: 2)
X-hMailServer-Reason-Score: 9
```

Obvious you don't have the message headers added as it probably isn't marked as being spam

But taking my example above with your scores am i right to say it reads like this (not sure where SpamTestDNSBlackLists score is listed when DNSBLChecksAfterMailFrom is used)

**pre**

```
"DEBUG"	6756	"2022-02-02 06:37:35.410"	"Spam test: SpamTestDNSBlackLists, Score: 0"
"DEBUG"	6756	"2022-02-02 06:37:35.425"	"Spam test: SpamTestHeloHost, Score: 1"
"DEBUG"	6756	"2022-02-02 06:37:35.506"	"Spam test: SpamTestPTR, Score: 1"
"DEBUG"	6756	"2022-02-02 06:37:35.667"	"Spam test: SpamTestMXRecords, Score: 0"
"DEBUG"	6756	"2022-02-02 06:37:35.698"	"Spam test: SpamTestSPF, Score: 0"
"DEBUG"	6756	"2022-02-02 06:37:35.698"	"Total spam score: 2"
```

**post**

```
"DEBUG"	6540	"2022-02-02 06:37:36.714"	"Spam test: SpamTestSURBL, Score: 0"
"DEBUG"	6540	"2022-02-02 06:37:36.714"	"Spam test: SpamTestDKIM, Score: 3"
"DEBUG"	6540	"2022-02-02 06:37:38.004"	"Spam test: SpamTestSpamAssassin, Score: -100"
"DEBUG"	6540	"2022-02-02 06:37:38.004"	"Total spam score: -97"
```

My Spam Mark threshold is -500
EVERY message header is recorded (I also log all message header for all messages)
I'll send to you via the forum website

> So it fair to say you suspect SpamTestPRT = 1 and SpamTestHelo = 1 scores are not maintained when using DNSBLChecksAfterMailFrom?

I'll test this.
Not even really sure WHY I enabled that

I closed this, but then someone replied:

> This shouldn't be that hard to add, is it OK if I give it a try?

Haven't read through all the comments, but there's no fix for it in any PR, right?