Invalid failure to not submit bounces by hmail on auto-generated messages

Hmail does not submit bounces (DSNs) on messages containing Auto-submitted header and generates an error (to error.log):

Severity: 3 (Medium), Code: HM4404, Source: SMTPDeliverer::_ApplyForwarding, Description: Did not submit bounce message for message ??? from ???@???.??. since rule loop count was reached or Auto-Submitted header.

A rule that forbid automatic replying to such messages is included in RFC3834 (Recommendations for Automatic Responses to Electronic Mail). But at opening of this document (part 1) one can find a reservation:

> There are several different types of automatic responses.  At least two types of automatic responses have been defined in IETF standards - Delivery Status Notifications [I2.RFC3464] which are intended to report the status of a message delivery by the message transport system, and Message Disposition Notifications [I3.RFC3798] which are  intended to report of the disposition of a message after it reaches a recipient's mailbox.  These responses are defined elsewhere and are generally not within the purview of this document, except that this document recommends specific cases where they should or should not be used.

And once more at part 3.2.1. (Use of DSNs and MDNs instead of this specification):

> The DSN specification [I2.RFC3464], rather than this document, governs the generation and format of DSNs. (...) This document is not intended to alter either the DSN or MDN specifications.  Responses that fit within the criteria of DSN or MDN, as defined by the respective specifications, should be generated according to the DSN or MDN specification rather than this document.

Neither RFC 3461, nor 3464 does not mention Auto-submitted header as a condition to not sending DSNs. These documents altogether with earlier ones until the first RFC821 focus on envelope return-path rather.


Since hMailServer is no longer under active development and this is a very old issue, it will be closed without action. I won't have time to analyze/fix this issue.