RFC6331: Moving DIGEST-MD5 to Historic

20 November 2008: CRAM-MD5 to Historic:
- https://tools.ietf.org/html/draft-ietf-sasl-crammd5-to-historic-00

29 June 2017: CRAM-MD5 to Historic:
- https://tools.ietf.org/html/draft-zeilenga-luis140219-crammd5-to-historic-00

July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

I add same about SCRAM-MD5.

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803
- November 2015: RFC7677: SCRAM-SHA-256 and SCRAM-SHA-256-PLUS: Simple Authentication and Security Layer (SASL) Mechanisms: https://tools.ietf.org/html/rfc7677

Soon:
- SCRAM-SHA-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha-512
- SCRAM-SHA3-512(-PLUS): https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

Spam bot

Dear @martinknafve: It has been solved?

Where?

Can you give me the commits?

Thanks in advance.

I see that you have posted the request to a ton of projects and assume you're using some bot software. I won't implement this one, so I closed the issue.

I have published on the forum too:
- https://www.hmailserver.com/forum/viewtopic.php?f=2&t=38158

Feel free to produce a pull request and I'll re-open this one.

Can you re-add my posts on the forum?

You have not removed about OpenSSL: 
https://www.hmailserver.com/forum/viewtopic.php?f=2&t=38021

Thanks in advance.

---------------------

You are a strange guy to remove posts and close tickets without solutions.

Can you, now, unlock my account on the forum?

It is important to inform users/devs that hMailServer is currently not secure and to add a better SECURITY.

Thanks in advance.

-----------------

@martinknafve: When a ticket is closed = it is solved.

But my TWO SECURITY ISSUES ARE NOT SOLVED.

Please change the status and unlock me from the forum and re-add my posts about OpenSSL, CRAM-MD5/DIGEST-MD5/SCRAM.

Thanks in advance.

----------------------

Other people do not see the current problems if there are not posts on the forum and opened tickets.

I think that you do not understand the problem.

I think it is time to move your repo in a GitHub organization.

I will put up a message later this weekend that hMailServer is no longer being actively maintained and that these issues exists.

> I think it is time to move your repo in a GitHub organization.

That's a good thought. But can't you just fork it and put it in your own github org already?

@martinknafve: It is easy to convert the hmailserver account to organization:
- https://github.com/hmailserver/hmailserver/issues/405

And to inform on the forum, mailing list, website, this repo that new devs are needed.

Note:
- Communication is important
- Do not remove important posts
- Do not close unsolved issues

As I mentioned, the last major version was released 10 years ago. There are already developers working on parallel forks.

If you feel strongly about this, then you are free to create a fork of it as well, or contribute to existing forks. As I mentioned, the web site will be updated.