Email Address allowed not conforming to RFC with UNDERSCORE _ inclusion

Further recent attempts to tighten up on correct validation of addresses overlooked the possibiity of UNDERSCORE being included and currently rejects addresses that includes it in the domain part.  This is causing problems for users that us internal domain/host for their server names

eg,   user@internal_exchange

Full details here: https://www.hmailserver.com/forum/viewtopic.php?f=7&t=30317

RFC2822 says underscore are valid characters: Page 14 : ([https://www.ietf.org/rfc/rfc2822.txt]):

```
 domain          =       dot-atom / domain-literal / obs-domain
 
 domain-literal  =       [CFWS] "[" *([FWS] dcontent) [FWS] "]" [CFWS]
 
 dcontent        =       dtext / quoted-pair
 
 dtext           =       NO-WS-CTL /     ; Non white space controls
 
                         %d33-90 /       ; The rest of the US-ASCII
                         %d94-126        ;  characters not including "[",
                                         ;  "]", or "\"
```

Taking the recent changes currently applied to 5.6.5 from https://github.com/hmailserver/hmailserver/issues/173 Issue173 which rectified address formatting problems with question marks, I propose the following modification which addresses:
1,  this issue of underscores being excluded in domain part
2,  using IP4 and 6 literals (coded for but not implemented in issue173)
3,  character/reiteration count restrictions (all as per RFC rules - coded for but not implemented in issue173):

`^(?=.{1,64}@)("[^<>@\\]+"|(?!\.|.*\.(\.|@))[^<> @\\"]+)@(\[(\d{1,3}\.){3}\d{1,3}\]|\[IPv6:(?:[A-Fa-f\d]{1,4}:){7}[A-Fa-f\d]{1,4}\]|(?=.{1,255}$)((?!-|\.|\d+$)[\w-]{0,62}[\w])(|\.(?!-|\.|\d+$)[\w-]{0,62}[\w]){1,126})$`

(the string is escaped).

This has taken the original occurrences of "a-zA-Z0-9" (meaning letters and digits) in the domain part and changed them to "\w" (meaning letters, digits and underscores).  This will now also allow underscores in the domain part whilst also shortening the regexp expression for simplicity without compromise.

In addition to the character count and IPV literal address changes detailed in the foot of issue 173, the following now also applies:

**user@server_one**  now allowed
**user@server_1** now allowed.
**user@server_one.local** now allowed. 
**user@888.com** is allowed
**user@888** is not allowed

Tested with regexper.com  https://regexper.com/#^%28%3F%3D.{1%2C64}%40%29%28%22[^%3C%3E%40\\]%2B%22|%28%3F!\.|.*\.%28\.|%40%29%29[^%3C%3E%20%40\\%22]%2B%29%40%28\[%28\d{1%2C3}\.%29{3}\d{1%2C3}\]|\[IPv6%3A%28%3F%3A[A-Fa-f\d]{1%2C4}%3A%29{7}[A-Fa-f\d]{1%2C4}\]|%28%3F%3D.{1%2C255}%24%29%28%28%3F!-|\.|\d%2B%24%29[\w-]{0%2C62}[\w]%29%28|\.%28%3F!-|\.|\d%2B%24%29[\w-]{0%2C62}[\w]%29{1%2C126}%29%24


Technically there are still imperfections because according to RFC other characters (not just letters, numbers and underscore) should also be allowed in the domain part but it would seem unlikely these characters would ever be used so coding for them may be unnecessary (and DNS failures/mail delivery attempts would reject them upon attempted delivery anyway).  The above is the simplest offering and should achieve sufficiently (although I cant help think that someone will come along someday with a complaint that percent % should be allowed too due to them using it in the internal LAN host names.)

RFC5322 says:

```
Note: A liberal syntax for the domain portion of addr-spec is
      given here.  However, the domain portion contains addressing
      information specified by and used in other protocols (e.g.,
      [RFC1034], [RFC1035], [RFC1123], [RFC5321]).  It is therefore
      incumbent upon implementations to conform to the syntax of
      addresses for the context in which they are used.
```
Effectively saying that although underscores are allowed for internet messages, specific protocols/RFCs might tighten up and add further restrictions - in this case 5321/SMTP specifically says underscores are not allowed.  Therefore there is no change required to include underscores.  However, for completeness I still offer the mod for the character/reiteration count restrictions:

^(?=.{1,64}@)("[^<>@\\]+"|(?!\.|.*\.(\.|@))[^<> @\\"]+)@(\[(\d{1,3}\.){3}\d{1,3}\]|\[IPv6:(?:[A-Fa-f\d]{1,4}:){7}[A-Fa-f\d]{1,4}\]|(?=.{1,255}$)((?!-|\.|\d+$)[a-zA-Z\d-]{0,62}[a-zA-Z\d])(|\.(?!-|\.|\d+$)[a-zA-Z\d-]{0,62}[a-zA-Z\d]){1,126})$

**user@888.com** is allowed
**user@888** is not allowed


Hi 
I am on Angular

And using the below regex:

`'^[a-z0-9]+([._-]?[a-z0-9]+)+@[a-z0-9]+([._-]?[a-z0-9]+)+\\.[a-z]{2,3}$'`

But its not fulfilling my requirement, my requirement is below:

`saa5@me-d_d_u.co`

please anyone tell me, why this regex is not working for my above mentioned case.

Regards
Babar Ali Shah

> Hi I am on Angular
> 
> And using the below regex:
> 
> `'^[a-z0-9]+([._-]?[a-z0-9]+)+@[a-z0-9]+([._-]?[a-z0-9]+)+\\.[a-z]{2,3}$'`
> 
> But its not fulfilling my requirement, my requirement is below:
> 
> `saa5@me-d_d_u.co`
> 
> please anyone tell me, why this regex is not working for my above mentioned case.
> 
> Regards Babar Ali Shah

The string quoted [above](https://github.com/hmailserver/hmailserver/issues/199#issue-176864016) is correct and matches.