Rule REPLY fails to wrap to RFC2045  76 character limit

HMS 5.6.5 2360

RFC2045 6.7 states that quoted printable text line must not exceed 76 characters.  Long lines must be 'soft wrapped' with an equals as the last character.  Email clients do this automatically to conform.  Failure to wrap is seen as an RFC non-compliance and potentially a sign of spam (Spamassassin scores it with rule "_MIME_QP_LONG_LINE RAW: Quoted-printable line longer than 76 chars_", for example.)

Any email body entered in a Rule 'REPLY' (email) action fails to get wrapped and therefore fails this compliance and raises the chance of being binned as spam.  (There is also no restriction placed on the user input when composing this email body in the reply rule to prevent them from writing lines longer than 76 characters.)

Example received email sent by HMS rule 'reply' action:

> From: Do Not Reply bouncednotifications@company.com
> Subject: Please note...
> Content-Transfer-Encoding: quoted-printable
> Date: Sat, 14 May 2016 13:14:50 +0100
> Auto-Submitted: auto-replied
> X-hMailServer-LoopCount: 1
> 
> Thank you for your email.
> 
> **Please note my normal office hours are Monday and Tuesday only.  I will respond to your email accordingly when I next return.**
> 
> Regards

The line highlighted is longer than 76 characters and should be wrapped as

>  **Please note my normal office hours are Monday and Tuesday only.  I will res=
> pond to your email accordingly when I next return.**


Interesting. That spec is from 1996. A slightly more updated RFC from 2008 (http://www.rfc-editor.org/rfc/rfc5322.txt) states:

>    There are two limits that this specification places on the number of
>    characters in a line.  Each line of characters MUST be no more than
>    998 characters, and SHOULD be no more than 78 characters, excluding
>    the CRLF.


Either way, if SpamAssassin gives email with >78 characters a worse score then it makes sense fixing the issue in hMailServer.

5322 doesnt deal with 'quoted-printeable content under mime (it deals only with text messages) and in fact specifically says:

5322.txt:
> 
> This document specifies a syntax **only for text messages**.  In
>    particular, **it makes no provision for the transmission of** images,
>    audio, or **other sorts of structured data** in electronic mail messages.
>    There are several extensions published, **such as the MIME document
>    series ([RFC2045], [RFC2046], [RFC2049]), which describe mechanisms
>    for the transmission of such data**


RFC2045 is specifically for **MIME content** and deals with "**quoted-printable" content** specifically (sec. 6.7) - which is what we are specifically referring to in this issue.  

Therefore as I read it it is 2045, under the 'quoted-printable content' that is failing (and should be truncated to 76 characters) as per 2045.

Fix merged