SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @hmailserver team,

In first, I wish you a Happy New Year!

There is a big security problem, the missing support of SCRAM-SHA-*.

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

- SCRAM-SHA-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

- SCRAM-SHA3-512(-PLUS):
-- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

https://xmpp.org/extensions/inbox/hash-recommendations.html

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- Channel Bindings for SCRAM over TLS 1.3: https://tools.ietf.org/html/draft-whited-tls-channel-bindings-for-tls13 -> https://tools.ietf.org/html/draft-ietf-kitten-tls-channel-bindings-for-tls13

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1


Spam bot

Dear @martinknafve: It has been solved?

Where?

Can you give me the commits?

Thanks in advance.

I see that you have posted the request to a ton of projects and assume you're using some bot software. I won't implement this one, so I closed the issue.

I have published on the forum too:
- https://www.hmailserver.com/forum/viewtopic.php?f=2&t=38159

Feel free to produce a pull request and I'll re-open this one. 

Can you re-add my posts on the forum?

You have not remove about OpenSSL: 
https://www.hmailserver.com/forum/viewtopic.php?f=2&t=38021

Thanks in advance.

The same reply applies here - please feel free to contribute by producing pull requests with the changes you like to see.

You are a strange guy to remove posts and close tickets without solutions.

Can you, now, unlock my account on the forum?

It is important to inform users/devs that hMailServer is currently not secure and to add a better SECURITY.

Thanks in advance.

I spend very limited time on this project these days and I get to pick what I want to work on. If you were an active hMailServer user who requested this I would consider it, but I can see that you are just spamming messages to various projects and as such I treat it with much lower prio. So as I said, if you want to see changes then you are free to create patches and I'll review / merge them as appropriate.

@martinknafve: When a ticket is closed = it is solved.

But my TWO SECURITY ISSUES ARE NOT SOLVED.

Please change the status and unlock me from the forum and re-add my posts about OpenSSL, CRAM-MD5/DIGEST-MD5/SCRAM.

Thanks in advance.

That's not how it works. As an author of this project I have the right to decide what to implement. This is an open source project, and I get to pick and choose what parts to implement. There is no requirement that just because you report an issue (which I believe is partly irrelevant) I have to implement it or keep it open until it's resolved.

As I wrote above, I only do minor changes to hMailServer these days. The last new major release was a decade ago.

Again, if you feel strongly about this, feel free to produce a patch!

Other people do not see the current problems if there are not posts on the forum and opened tickets.

I think that you do not understand the problem.

I think it is time to move your repo in a GitHub organization.

I will put up a message later this weekend that hMailServer is no longer being actively maintained and that these issues exists.

> I think it is time to move your repo in a GitHub organization.

That's a good thought. But can't you just fork it and put it in your own github org already?

@martinknafve: It is easy to convert the hmailserver account to organization:
- https://github.com/hmailserver/hmailserver/issues/405

And to inform on the forum, mailing list, website, this repo that new devs are needed.

Note:
- Communication is important
- Do not remove important posts
- Do not close unsolved issues

As I mentioned, the last major version was released 10 years ago. There are already developers working on parallel forks.

If you feel strongly about this, then you are free to create a fork of it as well, or contribute to existing forks. As I mentioned, the web site will be updated.

(Also, can you please stop with the duplicated messages... you can link the other thread if you feel that people should be aware?)

There are a lot of issues and PRs without any changes from you.

I will be happy to manage a new hMailServer team and website too.


I obviously can't transfer ownership to someone I have not had any communication with before prior or doesn't know who it is. That would be a huge security risk, much bigger than any usage of MD5 or similar. So it's ironic you suggest it. :)


The first step is to do an organization (please read the ticket), please do it, it takes few minutes.

Ironic?

You have seen my posts on the forum about OpenSSL which has not be updated too.

It is very bad that the developement is not here for an opensource project.

> It is very bad that the developement is not here for an opensource project.

I am not really following. I started implementing this 20 years ago but I don't have time for it any more. There's tons of open source project ending and starting every day. I was going to work a bit on it today, but this thread distracted me and I agree with you it's better to make it clear that it's no longer developed and has issues.

Listen people!

Please do it, it takes few minutes: https://github.com/hmailserver/hmailserver/issues/405

And do a communication for have new devs, merge PRs etc. ;)

For your information, I know this project since the beginning.

That's fine, but you do understand that giving ownership to someone I don't know would be a huge security issue, right?

Like you want but CRAM-MD5 and DIGEST-MD5 must not be used for SECURITY.

I don't know what to make of that last comment of yours. As I said several times, hMailServer is no longer being active maintained. All issues and PR:s will likely be closed with that comment. You should switch to some other software which is being maintained.

@martinknafve: Accept a new team ;)